body {
  background-color: bisque; 
}

.header {
  font-family: 'Cedarville Cursive', cursive;
  padding: 0vh;
  margin: 0vh;
  color: black;
}

#temp-page {
  width: 150vh;
  margin-left: 20vh;
  margin-top: 20vh;
}

#main-text {
  font-family: 'Roboto', sans-serif;
  color: black;
}

.icons {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
  text-align: center;
  line-height: 3.5rem;
  background-color: #94ceeb;
  font-size: 4rem;
}
